{% if customer %}
{% set orders = customer.orders %}

<div id="no-orders"{% if orders|length %} class="hidden"{% endif %}>
    <p>{{ "No orders exist for this user yet."|t }}</p>
</div>

{% if orders|length %}
    <table class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Order'|t }}</th>
            <th scope="col">{{ 'Order Date'|t }}</th>
            <th scope="col">{{ 'Total Paid'|t }}</th>
            <th scope="col">{{ 'Status'|t }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.link }}</td>
                <td>{% if order.isCompleted %}{{ order.dateOrdered|date('D dS M Y') }}{% endif %}</td>
                <td>{{ order.totalPaid|currency(order.currency) }}</td>
                <td>{{ order.orderStatus.htmlLabel|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% set addresses = customer.addresses %}
<div id="no-addresses"{% if addresses|length %} class="hidden"{% endif %}>
    <p>{{ "No addresses exist for this user yet."|t }}</p>
</div>
<br>
{% if addresses|length %}
	<div class="address-heading-label">
		<label>{{ "Addresses"|t }}</label>
	</div>
	<div class="address-boxes">
        {% for address in addresses %}
            <div id="Address" class="address-box hidden"
				 data-title="{{ "Address "|t~loop.index }}"
                 data-address='{%- if address and address.id -%}{{ address|json_encode|raw }}{%- endif %}'>
                <div class="address-box-content">
                    <div class="address-box-header"></div>
					{#{% if not currentUser.can('commerce-manageOrders') %}hidden{% endif %}#}
                    <div class="address"></div>
                </div>
            </div>
        {% endfor %}
	</div>
{% endif %}
{% endif %}

{% includeCssResource 'commerce/commerce.css' %}
{% includeJsResource 'commerce/js/CommerceAddressBox.js' %}
{% includeJsResource 'commerce/js/CommerceEditAddressModal.js' %}
{% includecss %}
.address-heading-label { margin-bottom:4px; }
{% endincludecss %}
{% includejs %}
window.countries = JSON.parse('{{ craft.commerce.countries|json_encode|raw }}');
window.states = JSON.parse('{{ craft.commerce.states|json_encode|raw }}');

$(".address-box").each(function(){
    new Craft.Commerce.AddressBox($(this),{});
});
{% endincludejs %}